# Task S3 T01
## Exercises with Dataframes

#### - Exercise 1

Download the data set Airlines Delay: Airline on-time statistics and delay causes and load it into a Pandas Dataframe.

In [2]:
import pandas as pd

df_airlines_delay = pd.read_csv('DelayedFlights.csv')

df_airlines_delay.head(10)

,ID,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2,2008,1,3,4,628.0,620,804.0,750,WN,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
5,6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,...,3.0,7.0,0,N,0,10.0,0.0,0.0,0.0,47.0
6,10,2008,1,3,4,706.0,700,916.0,915,WN,...,5.0,19.0,0,N,0,NaN,NaN,NaN,NaN,NaN
7,11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,...,6.0,8.0,0,N,0,8.0,0.0,0.0,0.0,72.0
8,15,2008,1,3,4,1029.0,1020,1021.0,1010,WN,...,6.0,9.0,0,N,0,NaN,NaN,NaN,NaN,NaN
9,16,2008,1,3,4,1452.0,1425,1640.0,1625,WN,...,7.0,8.0,0,N,0,3.0,0.0,0.0,0.0,12.0

 Explore the data it contains, briefly explain which variables are there and stick only to the columns you consider relevant. Justify your choice.

--> Airlines Delay: Airline on-time statistics and delay causes

+ Let's start by knowing the name of the columns with this code

In [148]:
df_airlines_delay.columns

Index(['ID', 'Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime',
       'CRSDepTime', 'ArrTime', 'CRSArrTime', 'UniqueCarrier',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted'],
      dtype='object')

+ We describe each column

|Column|Description|
|--------------|:--------------:|
|ID|Unique identifier code|
|Year|Four numerical digits, example 2008|
|Month|Two numerical digits, example 10|
|DayofMonth|Numerical digits, example 3|
|DayOfWeek|Days of week, 1-> Monday.....7->Sunday|
|DepTime| Actual departure time|
|CRSDepTime|Scheduled departure time|
|ArrTime|Actual arrive time|
|CRSArrTime|Scheduled arrive time|
|UniqueCarrier|Unique carrier code|
|FlightNum|**Flight number**|
|TailNum|**Plane tail number**|
|ActualElapsedTime|Actual elapsed time, in minutes|
|CRSElapsedTime|Scheduled elapsed time, in minutes|
|AirTime|Flight time in minutes |
|ArrDelay|Difference in minutes between scheduled and actual arrival time. Early arrivals show negative numbers, in minutes.|
|DepDelay|Difference in minutes between scheduled and actual departure time. Early departures show negative numbers, in minutes.|
|Origin|Origin airport code|
|Dest|Destination airport code|
|Distance|Distance between airports, in miles|
|TaxiIn|The time since wheels are down until arrival at destination airport gate, in minutes.|
|TaxiOut|The time elapsed between departure from the origin airport gate and wheels off, in minutes|
|Cancelled|If the flight was caancelled, 1 for yes, 0 for no|
|CancellationCode|Cancellation code, (Carrier, Weather, NAS, Security, Late airccraft)|
|Diverted|Diverted, 1 for yes, 0 for no|
|CarrierDelay|**Carrier delay, in minutes**|
|WeatherDelay|**Weather delay, in minutes**|
|NASDelay|**NAS delay, in minutes**|
|SecurityDelay|**Security delay, in minutes**|
|LateAircraftDelay|**Late aircraft, in minutes**|

In [134]:
df_airlines_delay.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1936758 entries, 0 to 1936757
Data columns (total 30 columns):
 #   Column             Dtype
---  ------             -----
 0   ID                 int64
 1   Year               int64
 2   Month              int64
 3   DayofMonth         int64
 4   DayOfWeek          int64
 5   DepTime            float64
 6   CRSDepTime         int64
 7   ArrTime            float64
 8   CRSArrTime         int64
 9   UniqueCarrier      object
 10  FlightNum          int64
 11  TailNum            object
 12  ActualElapsedTime  float64
 13  CRSElapsedTime     float64
 14  AirTime            float64
 15  ArrDelay           float64
 16  DepDelay           float64
 17  Origin             object
 18  Dest               object
 19  Distance           int64
 20  TaxiIn             float64
 21  TaxiOut            float64
 22  Cancelled          int64
 23  CancellationCode   object
 24  Diverted           int64
 25  CarrierDelay       float64
 26  WeatherDelay       float64
 27  NASDelay           float64
 28  SecurityDelay      float64
 29  LateAircraftDelay  float64
dtypes: float64(14), int64(11), object(5)
memory usage: 443.3+ MB

In [142]:
df_airlines_delay.shape

(1936758, 23)

In [141]:
df_airlines_delay.isnull().sum()

ID                      0
Year                    0
Month                   0
DayofMonth              0
DayOfWeek               0
DepTime                 0
CRSDepTime              0
ArrTime              7110
CRSArrTime              0
UniqueCarrier           0
ActualElapsedTime    8387
CRSElapsedTime        198
AirTime              8387
ArrDelay             8387
DepDelay                0
Origin                  0
Dest                    0
Distance                0
TaxiIn               7110
TaxiOut               455
Cancelled               0
CancellationCode        0
Diverted                0
dtype: int64

In [150]:
df_airlines_delay = df_airlines_delay.drop(['ID','FlightNum', 'TailNum', 'CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'], axis=1)
df_airlines_delay.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,ActualElapsedTime,...,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,128.0,...,-14.0,8.0,IAD,TPA,810,4.0,8.0,0,N,0
1,2008,1,3,4,754.0,735,1002.0,1000,WN,128.0,...,2.0,19.0,IAD,TPA,810,5.0,10.0,0,N,0
2,2008,1,3,4,628.0,620,804.0,750,WN,96.0,...,14.0,8.0,IND,BWI,515,3.0,17.0,0,N,0
3,2008,1,3,4,1829.0,1755,1959.0,1925,WN,90.0,...,34.0,34.0,IND,BWI,515,3.0,10.0,0,N,0
4,2008,1,3,4,1940.0,1915,2121.0,2110,WN,101.0,...,11.0,25.0,IND,JAX,688,4.0,10.0,0,N,0

**Important**

It randomly reduces the dimension of the dataset in order to obtain a dataset of only 200,000 records. All exercises should be done on this reduced dataset. .

In [15]:
df_airlines_delay_reduce = df_airlines_delay.sample(n=200000, random_state=None)
df_airlines_delay_reduce.shape

(200000, 30)

In [152]:
df_airlines_delay_reduce.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,ActualElapsedTime,...,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted
271300,2008,2,14,4,954.0,945,1114.0,1112,US,80.0,...,2.0,9.0,CLT,JAX,329,5.0,25.0,0,N,0
1486451,2008,9,8,1,2056.0,2050,2133.0,2119,FL,97.0,...,14.0,6.0,ATL,MSY,425,4.0,27.0,0,N,0
990282,2008,6,27,5,1454.0,1411,1551.0,1511,EV,117.0,...,40.0,43.0,ATL,TUL,674,3.0,23.0,0,N,0
33324,2008,1,13,7,1229.0,1220,1330.0,1333,XE,61.0,...,-3.0,9.0,MRY,LGB,283,3.0,8.0,0,N,0
1449904,2008,9,4,4,1350.0,1322,1640.0,1610,YV,110.0,...,30.0,28.0,BNA,IAD,542,6.0,20.0,0,N,0

#### - Exercise 2
Do a full dataset report:

- Statistically summarize the dataset and columns of interest.

ActualElapsedTime

In [153]:
df_airlines_delay_reduce['ActualElapsedTime'].describe()

count    199146.000000
mean        133.319906
std          72.195789
min          16.000000
25%          80.000000
50%         116.000000
75%         165.000000
max         790.000000
Name: ActualElapsedTime, dtype: float64

In [154]:
df_airlines_delay_reduce['AirTime'].describe()

count    199146.000000
mean        108.338817
std          68.762516
min           1.000000
25%          58.000000
50%          90.000000
75%         137.000000
max         664.000000
Name: AirTime, dtype: float64

In [155]:
df_airlines_delay_reduce['ArrDelay'].describe()

count    199146.000000
mean         42.228445
std          56.641223
min         -69.000000
25%           9.000000
50%          24.000000
75%          56.000000
max        1951.000000
Name: ArrDelay, dtype: float64

In [156]:
df_airlines_delay_reduce['DepDelay'].describe()

count    200000.000000
mean         43.235230
std          53.414328
min           6.000000
25%          12.000000
50%          24.000000
75%          53.000000
max        1952.000000
Name: DepDelay, dtype: float64

- Do a statistical analysis of what you consider relevant.

- Find how much missing data there is per column.

In [157]:
df_airlines_delay_reduce.isnull().sum()

Year                   0
Month                  0
DayofMonth             0
DayOfWeek              0
DepTime                0
CRSDepTime             0
ArrTime              727
CRSArrTime             0
UniqueCarrier          0
ActualElapsedTime    854
CRSElapsedTime        27
AirTime              854
ArrDelay             854
DepDelay               0
Origin                 0
Dest                   0
Distance               0
TaxiIn               727
TaxiOut               46
Cancelled              0
CancellationCode       0
Diverted               0
dtype: int64

In [158]:
df_airlines_delay_reduce.shape

(200000, 22)

- Create new columns (average flight speed, whether it was late or not...).

In [159]:
df_airlines_delay_reduce['AvgFlightSpeed'] = df_airlines_delay_reduce ['Distance']/(df_airlines_delay_reduce['ActualElapsedTime']/60)
df_airlines_delay_reduce.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,ActualElapsedTime,...,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,AvgFlightSpeed
271300,2008,2,14,4,954.0,945,1114.0,1112,US,80.0,...,9.0,CLT,JAX,329,5.0,25.0,0,N,0,246.750000
1486451,2008,9,8,1,2056.0,2050,2133.0,2119,FL,97.0,...,6.0,ATL,MSY,425,4.0,27.0,0,N,0,262.886598
990282,2008,6,27,5,1454.0,1411,1551.0,1511,EV,117.0,...,43.0,ATL,TUL,674,3.0,23.0,0,N,0,345.641026
33324,2008,1,13,7,1229.0,1220,1330.0,1333,XE,61.0,...,9.0,MRY,LGB,283,3.0,8.0,0,N,0,278.360656
1449904,2008,9,4,4,1350.0,1322,1640.0,1610,YV,110.0,...,28.0,BNA,IAD,542,6.0,20.0,0,N,0,295.636364

- Make a table of the airlines with the most accumulated delays.

In [169]:
df_airlines_delay_arrive = df_airlines_delay_reduce.groupby('UniqueCarrier').aggregate(sum)
df_airlines_delay_arrive['ArrDelay'].head(10)

UniqueCarrier
9E    247430.0
AA    924609.0
AQ      1663.0
AS    144358.0
B6    308553.0
CO    425162.0
DL    456231.0
EV    415479.0
F9     78942.0
FL    324001.0
Name: ArrDelay, dtype: float64

- What are the longest flights? And the most backward? Look for the longest routes and those with the most delays.

- Contribute what you consider relevant.

#### - Exercise 3
Export the dataset clean and with the new columns to Excel.

In [170]:
df_airlines_for_excel = df_airlines_delay_reduce.dropna()

In [171]:
df_airlines_for_excel.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,ActualElapsedTime,...,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,AvgFlightSpeed
271300,2008,2,14,4,954.0,945,1114.0,1112,US,80.0,...,9.0,CLT,JAX,329,5.0,25.0,0,N,0,246.750000
1486451,2008,9,8,1,2056.0,2050,2133.0,2119,FL,97.0,...,6.0,ATL,MSY,425,4.0,27.0,0,N,0,262.886598
990282,2008,6,27,5,1454.0,1411,1551.0,1511,EV,117.0,...,43.0,ATL,TUL,674,3.0,23.0,0,N,0,345.641026
33324,2008,1,13,7,1229.0,1220,1330.0,1333,XE,61.0,...,9.0,MRY,LGB,283,3.0,8.0,0,N,0,278.360656
1449904,2008,9,4,4,1350.0,1322,1640.0,1610,YV,110.0,...,28.0,BNA,IAD,542,6.0,20.0,0,N,0,295.636364

In [173]:
df_airlines_for_excel.shape

(199146, 23)

In [174]:
df_airlines_for_excel.to_excel('airlines_sample.xlsx')